<form action="/sessions" methon="post">
	<p>
		<input type="text" name="height" placeholder="what is your height?" /> cm
	</p>
	
	<p>
		<input type="submit" value="store my height information" />
	</p>
</form>